/* Page Layout */
.history-card p{
      display: inline-flex;
    align-items: center;
    margin: 0 10px 0 0;
    margin-bottom: 8px;
}

.profile-card p{
      display: inline-flex;
    align-items: center;
    margin: 0 10px 0 0;
    margin-bottom: 8px;
}

.profile-page {
  background: #f7fdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* Top Navbar */
.top-navbar {
  display: flex;
  align-items: center;
  background: #3d4465;
  color: #fff;
  padding: 1rem;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #fff;
  cursor: pointer;
}

.breadcrumb {
  font-size: 1rem;
  font-weight: 500;
}

/* Sub Header */
.sub-header {
  background: #0fc1a7;
  padding: 0.5rem 1rem;
}

.back-btn {
  background: #06b497;
  border: none;
  color: white;
  /* padding: 0.6rem 1rem; */
  /* border-radius: 50%; */
  font-size: 1.2rem;
  cursor: pointer;
}

/* Profile Section */
.profile-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h2 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  color: #253159;
}

.profile-info p {
  margin: 0.2rem 0;
  color: #555;
}

.highlight {
  color: #0fc1a7;
  font-weight: 500;
}

/* History Section */
.history-card {
  margin-top: 1.5rem;
  background: white;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.history-card h3 {
  margin-bottom: 0.8rem;
  color: #253159;
  font-size: 1.2rem;
}

.history-card p {
  margin: 0.5rem 0;
  color: #444;
  font-size: 0.95rem;
}

.link {
  color: #0fc1a7;
  font-weight: 600;
  cursor: pointer;
}
